body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Lato", serif;
  font-size: 16px;
}

/* util */
.f-kaisei-thin {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

/* element */
.navbar {
}
.trademark {
}
.popular-work-card {
}
.work-card {
}
.article-card {
}
